doctype html
html
  head
    title #{title}
    link(rel="stylesheet", href="/css/styles.css")
  body
    include header
  
    main
      block content

    include footer
    script(src="/js/modal.js")
