//- header
//-   h1 Personalized News Updates
//-   if loggedIn
//-     button(onclick="logout()") Log out

header
  h1 Personalized News Updates
  if user
    div.user-info
      span Hello, #{user.name}!
      button.logout-btn(onclick="logout()") Log out
