extends base

block content
  section.dashboard
    .center-container
      h1 Hello #{userName}! 
      div.button-group
        button(type="button" class="btn btn-primary" onclick="window.location.href='/preference/dashboard'") Set Preference
        button(type="button" class="btn btn-success" onclick="triggerUpdates()") Get Updates
    div#feedback.modal.hidden

